* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(31, 165, 222);
}
.left-part {
    flex-basis: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 85, 85);
}
.content {
    flex-basis: 33%;
    background-color: rgb(6, 30, 48);
}
.left-part .content textarea {
    width: 100%;
    height: 80%;
    padding: 10px;
}
.left-part .content label {
    background-color: black;
    display: block;
    color: white;
    padding: 10px 0px;
}
.left-part .content textarea {
    width: calc(100% - 20px);
    padding: 10px;
    height: calc(82% - 20px);
    outline: none;
    border: none;
    background: black;
    color: white;
}
/* ================== right part css =========== */
.right-part {
    flex-basis: 50%;
    height: 100%;
    background-color: blueviolet;
}
.right-part iframe {
    display: block;
    width: 100%;
    border: none;
    height: 90%;
    box-sizing: border-box;
    border: 1px solid white;
}
.right-part label {
    display: block;
    padding: 10px;
    background: rgb(9, 31, 57);
    color: white;
}
